
@{
    ViewBag.Title = "forgot";
}
@section nav{
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("E-parivahan", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">


                   
                </ul>


            </div>
        </div>
    </div>
}
<h2>Public User Change Password</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <b class="text-danger">@ViewBag.msg</b>

    <table>

        <tr>
            <td class="col-md-2"> <br />Enter Account Email:</td>
            <td>
                <br />
                <input class="form-control" type="email" name="email" required />
            </td>
        </tr>
        <tr>
            <td class="col-md-2"></td>
            <td>
                <br />
                <button class="btn btn-primary" type="submit">GO</button>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <br />
                Have an account? <a href="/TPLogin/index">Log In</a>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
               
            </td>
        </tr>
    </table>
}